Back-End/.vscode/
Back-End/WebApiSwagger/bin/
Back-End/WebApiSwagger/obj/

Back-End/WebApiSwagger/Downloads/
Back-End/WebApiSwagger/Uploads/

Front-End/gestao-ftth-react/node-modules/

*.dll
*.exe
*.log
*.temp
